.cell{
	display: inline-block;
	background-color: #3F5361;
	border: 1px solid white;
	height: 80px;
	width: 80px;
	text-align: center;
	padding-top: 6px;
}

.token{
	border-radius: 100px;
	display: inline-block;
	height: 65px;
	width: 65px;
}

.splash {
    position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width:100%;	
	filter: alpha(opacity=60);
	opacity: 0.6;
	background: #000;
}

.h1-custom{
    font-size:5em;
}
.panel-default > .panel-heading {
    color: white;
    background-color: #32C7B6;
    border-color: #32C7B6
}

.btn-red{
    color:white;
    background-color:#FA2A26;
}